
<div class="card">
 <div class="card-header">
   {{prodPageTitle + '!!'}}
 </div>
 <div class="card-body">
   <div class="row">
     <div class="col-md-2">Filter By:</div>
     <div class="col-md-4">
       <input type="text" [(ngModel)]='itemFilter' placeholder="Enter Filer Criteria"/>
     </div>
   </div>
   <div class="row">
     <div class="col-md-6">
       <h4>Filtered by:{{itemFilter}}</h4>
     </div>
   </div>
   <div class="table-responsive">
     <table class=table *ngIf='Products && Products.length'>
       <thead>
         <tr>
           <th>
             <button type="btn btn-primary" (click)='showImage()'>
               {{showImageProp ?  'Hide' : 'Show'}}  Image</button>
            </th>
            <th>Product</th>
            <th>Code</th>
            <th>Available</th>
            <th>Price</th>
            <th>5 Start Rating</th>
         </tr>
       </thead>
       <tbody>
         <tr *ngFor='let pr of filteredItems'>
           <td>
             <img *ngIf='showImageProp'
             [src]="pr.imageUrl" [title]="pr.productName"
             [style.width.px]=imageWidth [style.margin.px]="imageMargin"/>

           </td>
           <td>{{pr.productName | uppercase}}</td>
           <td>{{pr.productCode |lowercase | ConvertToSpaces:'-'}}</td>
           <td>{{pr.releaseDate}}</td>
           <td>{{pr.price | currency:'USD':'symbol':'1.1-2'}}</td>
           <td><app-star-component [rating]='pr.starRating'></app-star-component></td>
         </tr>
       </tbody>
     </table>

   </div>

 </div>
</div>
